ul {
    margin: 0;
    margin-top: 10px;
}

ul li {
    display: flex;
}

ul img {
    width: 50px;
    height: 50px;
    transition: all 0.5s;
}

    ul img:hover {
        width: 55px;
        height: 55px;
        transition: all 0.5s;
    }